# configs/pretrain_r50_deformable_detr_bdd_mini.yaml

# Base Architecture (Inherit from DanceTrack)
SUPER_CONFIG_PATH: ./configs/r50_deformable_detr_motip_dancetrack.yaml
root_path: "."

# Dataset & Classes
# DanceTrack base defaults to 1 class. We MUST override this to 2.
NUM_CLASSES: 2

# Weights Initialization
# We load the weights, but NOT the optimizer state (shapes mismatch)
DETR_PRETRAIN: ./pretrains/motip_dancetrack.pth
RESUME_OPTIMIZER: False
RESUME_SCHEDULER: False

# To Reduce Memory force short video clips (3 or 2 frames instead of default 5)
sampler_lengths: [5]

# Training Strategy (Mini Dataset)
EPOCHS: 10
LR: 2.0e-5 
LR_DROP: 7
LR_BACKBONE: 2.0e-6
LR_WARMUP_EPOCHS: 0

# Hardware Safety (A10G)
BATCH_SIZE: 1
ACCUMULATE_STEPS: 1
NUM_WORKERS: 4

# Global flag to enable aggressive memory saving techniques
# Set to True for 24GB cards. Set to False for 48GB+ cards.
MEMORY_EFFICIENT: True
USE_DECODER_CHECKPOINT: True

# We explicitly set these to null so the python script uses 
# the EXP_NAME (timestamped) generated by the train bash script.
OUTPUT_DIR: null
OUTPUTS_DIR: null

# verrides the defaults in the Super Config:
# Force the maximum side of the image to 1000 pixels (down from 1440)
AUG_MAX_SIZE: 1000

# Reduce the list of possible short-side sizes (down from 480-800)
# This keeps the image smaller on average.
AUG_RESIZE_SCALES: [480, 512, 544, 576, 608, 640]

# Reduce the random resize options for the second augmentation path
AUG_RANDOM_RESIZE: [400, 500, 600]

val_config:
  GT_FOLDER: "./datasets/DanceTrack/val"
  SEQMAP_FILE: "./datasets/DanceTrack/val_seqmap.txt"
  SPLIT_TO_EVAL: "val"
  CLASSES_TO_EVAL: ['pedestrian', 'car'] 